<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/basic">
	<meta charset="UTF-8">

	
	<th:block layout:fragment="title">
		<title>This page is a list page</title>
	</th:block>
	<th:block layout:fragment="content">
		<div class="table-responsive clearfix">
			<div sec:authorize="isAuthenticated()" class="btn_wrap text-center">
			<a th:href="@{'/followingList/' + ${postingId}}" class="btn btn-outline-primary">팔로잉</a>	
			<a th:href="@{'/followerList/' + ${postingId}}" class="btn btn-twitter waves-effect waves-light">팔로워</a>	
			</div>
<!-- <div class="form-group" id="beforeUp" style="display: none"> -->
			<table class="table table-hover" >
				
				<thead>
						<th>다른사람이 나를 팔로잉한 사람</th>
				</thead>
				
				
				
				<tbody>
					<tr th:if="${not #lists.isEmpty( followerList )}" th:each="follower : ${followerList}">
<!-- 						<td> -->
<!-- 							<a th:href="@{'followingList' + ${following.userId}}" th:text="${blog.userId}"></a> -->
<!-- 						</td> -->
						<td th:text="${follower.followingId}"></td>
						
<!-- 						<td th:text="${blog.createDate}"> -->
						</td>
						<td>
			<a th:href="@{'/deleteFollowerByMe/' + ${follower.followingId}}" class="btn btn-outline-primary">삭제</a>
						
					</tr>
					<tr th:unless="${not #lists.isEmpty( followerList)}">
						<td colspan="5">나를 팔로워한 사람이 없습니다.</td>
					</tr>
				</tbody>
			</table>
			
<!-- 			</div> -->

			
	

	
	
	
		</div>
		
		<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
		</script>

			<script th:inline="javascript">

			$(document).ready(function(){	

			});


			
			
			function followerBtn() {
				$("#beforeUp").show(); // display 속성을 block 으로 바꾼다.
				$("#view").hide(); // display 속성을 none 으로 바꾼다. 
			};			
			function followingBtn() {
				$("#view").show(); // display 속성을 block 으로 바꾼다.
				$("#beforeUp").hide(); // display 속성을 none 으로 바꾼다. 
			};	
			</script>
	</th:block>
		
</html>