<!DOCTYPE html>
<html lang="en" xmlns:sec="" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>로그인 성공</title>
</head>
<body>
<!--     HEADER -->
<!--     <div th:insert="common/header.html" id="header"></div> -->
    <p>
        <span sec:authentication="name"></span>님 환영합니다~
<!--         권한 : <span sec:authentication="name"></span> <br> -->
        
    </p>

    <table>
        <thead>
        <tr>
            <th class="one wide">번호</th>
            <th class="one wide">사용자아이디</th>
            <th class="ten wide">글제목</th>
            <th class="two wide">생성일</th>
        </tr>
        </thead>

        <tbody>
        포스트 리스트 입니다.
        <tr th:each="user : ${userList}">
            <td>
                <span th:text="${post.id}"></span>
            </td>
             <td>
                <span th:text="${post.blogId}"></span>
            </td>
            <td>
                <a th:href="@{'/post/' + ${post.id}}">
                    <span th:text="${post.title}"></span>
                </a>
            </td>
            <td>
                <span th:text="${post.content}"></span>
            </td>
            <td>
                <span th:text="${post.createDate}"></span>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{'/postList'}">내 블로그 가기</a>
<!--     FOOTER -->
<!--     <div th:insert="common/footer.html" id="footer"></div> -->
</body>

</html>